<div class="sv-website-sec" *ngIf="section['widget'].type.itemValue == 'photoText-landingPage'">
    <div *ngFor="let post of section['postList']">
        <mat-grid-list cols="1" rowHeight="40rem">
            <mat-grid-tile>
                <ng-container>
                    <img [src]="attachmentObj[post.id] && attachmentObj[post.id].path"
                        class="sv-wb-pto-img">
                </ng-container>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-card class="sv-wb-ptlp-card" color="#FFF">
            <mat-card-content>
                <label class="sv-wb-ptlp-title" data-aos="zoom-in-right" data-aos-duration="800">{{ post['name'] }}</label>
                <label class="sv-wb-ptlp-text">{{ post['desc'] }}</label>
            </mat-card-content>
        </mat-card>
    </div>
</div>