<footer class="sv-web-footer">
    <div class="row sv-row sv-web-footer-det-cont">
        <div class="col=lg-4 col-md-4 sv-col">
            <img class="sv-footer-logo" src="assets/logo-youth.png">
            <p class="sv-web-ft-copyw">
                <i class="far fa-copyright"></i>
                2021, Society of St. Vincent de Paul, Vasai
            </p>
            <p>
                <a class="sv-web-ft-soicon instagram" href="www.instagram.com">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="sv-web-ft-soicon facebook" href="www.facebook.com">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a class="sv-web-ft-soicon youtube" href="www.youtube.com">
                    <i class="fab fa-youtube"></i>
                </a>
            </p>
        </div>
        <div class="col=lg-3 col-md-3 sv-col">
            <p><strong>SVP Vasai Central Council Office</strong></p>
            <p>Society of St. Vincent de Paul</p>
            <p>Remedy Church School</p>
            <p>Near Milagre Cross</p>
            <p>Remedy, Vasai West</p>
            <p>401201</p>
            <p><a class="sv-web-anc-btn" href="#">Get in touch with us</a></p>
        </div>
        <div class="col=lg-3 col-md-3 sv-col">
            <p><a class="sv-web-anc-btn" href="#">Contact us</a></p>
            <p><a class="sv-web-anc-btn" href="#">Safeguarding</a></p>
            <p><a class="sv-web-anc-btn" href="#">Community projects</a></p>
            <p><a class="sv-web-anc-btn" href="#">Members and Staff</a></p>
            <p><a class="sv-web-anc-btn" href="#">Media Enquiries</a></p>
            <p><a class="sv-web-anc-btn" href="#">Activities</a></p>
        </div>
        <div class="col=lg-2 col-md-2 sv-col">
            <p><a class="sv-web-anc-btn" routerLink="/org/about">What we do</a></p>
            <p><a class="sv-web-anc-btn" routerLink="/org/get-involved">Get involved</a></p>
            <p><a class="sv-web-anc-btn" href="/request-help">Request help</a></p>
            <p>
                <button mat-flat-button color="warn">Donate</button>
            </p>
        </div>
    </div>
    <div class="row sv-row sv-web-ft-btmbar">
        <span class="col">
            <span>Made with <i class="fas fa-heart icon"></i> for the welfare of our society</span>
        </span>
    </div>
</footer>