.sv-website-sec {
  padding: 7rem 5rem;
}

.sv-post-pt-lp-cont .sv-col {
  padding: 0;
}

.sv-post-pt-lp-cont .mat-card {
  box-shadow: none;
}

.sv-post-pt-textcont {
  padding: 3rem;
}

.sv-post-pt-textcont .mat-card-content,
.sv-post-pt-textcont .mat-card-actions {
  margin-left: 1rem;
}

.sv-post-pt-textcont .mat-card-content {
  font-size: 17px;
  margin: 1rem;
  line-height: 1.8rem;
}

.mat-card-title {
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .sv-website-sec {
    padding: 0;
  }
}

.sv-pt-lp-wid-act-btn {
  color: #007bff;
  font-size: 16px;
}

.sv-pt-lp-wid-act-btn:hover {
  color: #0056b3;
  cursor: pointer;
}